<!DOCTYPE html>
<html>
<head>
  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Search | Calibration</title>
</head>
<script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
<body>

<div class="container">
  <center>
    <div id="resultInfo" class="alert alert-success">
    </div>
  </center>
</div>
  
  <center>
    <div id="resultsBox" class="container">
      Results appear here
    </div>
  </center>

</body>

<script type="text/javascript">
	document.getElementById("loginForm").action = '/login' + window.location['search']
</script>

<script>
  var searchResults = "<%= searchResults %>";

	searchResults = JSON.stringify(searchResults);
  searchResults = JSON.parse(searchResults);
  searchResults = searchResults.replace(new RegExp("&#34;", 'g'), "\"");
  searchResults = searchResults.replace(new RegExp("&quot;", 'g'), "\"");
	searchResults = JSON.parse(searchResults);
  
  var resultsJson = searchResults
  console.log(resultsJson)
  
  var objectLength = Object.keys(resultsJson).length;
  $('#resultInfo').html('Found <b>' + objectLength + '</b> items!')
  
  for (var property in resultsJson) {
    let oldBox = $('#resultsBox')
    $('resultsBox').html(oldBox + property + '<br>');  
  }
  
</script>
  
</html>